<div id="<%= dom_id store %>">
  <div>
    <strong>Name:</strong>
    <%= store.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= store.description %>
  </div>

  <div>
    <strong>Primary color:</strong>
    <%= store.primary_color %>
  </div>

  <div>
    <strong>Secondary color:</strong>
    <%= store.secondary_color %>
  </div>

  <div>
    <strong>User:</strong>
    <%= store.user_id %>
  </div>

</div>
