<div id="<%= dom_id event %>">
  <div>
    <strong>Title:</strong>
    <%= event.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= event.description %>
  </div>

  <div>
    <strong>Date:</strong>
    <%= event.date %>
  </div>

  <div>
    <strong>Store:</strong>
    <%= event.store_id %>
  </div>

</div>
